apiVersion: v1
kind: Secret
metadata:
  name: aws-s3-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ aws_access_key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key | b64encode }}
